
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 3rem;
    color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.carousel-item > img {
    width: auto;
    height: 100%;
    object-fit: contain;
}



.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.videoText {
    width: 500px;
    margin-right: 10px;
}

.justify {
    justify-content: center;
}

.videoC {
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.video {

}

.autoSize {
    width: auto!important;
    height: auto!important;
}

.noMarginTop {
    margin-top: 0rem!important;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.row img {
    border-radius: 50%;
    height: 229px;
    width: 229px;
}

.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

















/**{*/
/*    box-sizing: border-box;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/


/*.background {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100vw;*/
/*    height: 80vh;*/
/*    background-size: 10px 10px;*/
/*    background-image: radial-gradient(#1CABBE 20%, transparent 20%);*/
/*    background-position: 0 0, 50px 50px;*/
/*    opacity: 0;*/
/*    animation: backgroundGrow 1000ms ease-out forwards 3200ms;*/
/*}*/

/*.background2 {*/
/*    background: linear-gradient(22.5deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 255), rgba(255, 255, 255, 255), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));*/
/*    height: 80vh;*/
/*    width: 100vw;*/
/*    position: absolute;*/
/*    top: 0;*/
/*}*/

/*#intelligence {*/
/*    position: absolute;*/
/*    top: 45vh;*/
/*    transform: translate(0, -50%);*/
/*    margin-left: 2.5vw;*/
/*    height: auto;*/
/*    width: 45vw;*/
/*}*/

/*#intelligence > *:nth-child(1){animation: svg-grow 1000ms ease-out forwards 0ms, svg-fill 1000ms ease-out forwards 3200ms;stroke-dasharray: 226.9439697265625px; stroke-dashoffset: 226.9439697265625px;}*/
/*#intelligence > *:nth-child(2){animation: svg-grow 1000ms ease-out forwards 200ms, svg-fill 1000ms ease-out forwards 3200ms;stroke-dasharray: 604.484008789062px; stroke-dashoffset: 604.4840087890625px;}*/
/*#intelligence > *:nth-child(3){animation: svg-grow 1000ms ease-out forwards 400ms, svg-fill 1000ms ease-out forwards 3200ms;stroke-dasharray: 336.6719970703125px; stroke-dashoffset: -336.6719970703125px;}*/
/*#intelligence > *:nth-child(4){animation: svg-grow 1000ms ease-out forwards 600ms, svg-fill 1000ms ease-out forwards 3200ms;stroke-dasharray: 463.9679870605469px; stroke-dashoffset: -463.9679870605469px;}*/
/*#intelligence > *:nth-child(5){animation: svg-grow 1000ms ease-out forwards 800ms, svg-fill 1000ms ease-out forwards 3200ms;stroke-dasharray: 297.2159729003906px; stroke-dashoffset: -297.2159729003906px;}*/
/*#intelligence > *:nth-child(6){animation: svg-grow 1000ms ease-out forwards 1000ms, svg-fill 1000ms ease-out forwards 3200ms;stroke-dasharray: 297.2159729003906px; stroke-dashoffset: -297.2159729003906px;}*/
/*#intelligence > *:nth-child(7){animation: svg-grow 1000ms ease-out forwards 1200ms, svg-fill 1000ms ease-out forwards 3200ms;stroke-dasharray: 226.94400024414062px; stroke-dashoffset: -226.94400024414062px;}*/
/*#intelligence > *:nth-child(8){animation: svg-grow 1000ms ease-out forwards 1400ms, svg-fill 1000ms ease-out forwards 3200ms;stroke-dasharray: 635.7135009765625px; stroke-dashoffset: -635.7135009765625px;}*/
/*#intelligence > *:nth-child(9){animation: svg-grow 1000ms ease-out forwards 1600ms, svg-fill 1000ms ease-out forwards 3200ms;stroke-dasharray: 463.96795654296875px; stroke-dashoffset: -463.96795654296875px;}*/
/*#intelligence > *:nth-child(10){animation: svg-grow 1000ms ease-out forwards 1800ms, svg-fill 1000ms ease-out forwards 3200ms;stroke-dasharray: 604.4829711914062px; stroke-dashoffset: -604.4829711914062px;}*/
/*#intelligence > *:nth-child(11){animation: svg-grow 1000ms ease-out forwards 2000ms, svg-fill 1000ms ease-out forwards 3200ms;stroke-dasharray: 508.5526123046875px; stroke-dashoffset: -508.5526123046875px;}*/
/*#intelligence > *:nth-child(12){animation: svg-grow 1000ms ease-out forwards 2200ms, svg-fill 1000ms ease-out forwards 3200ms;stroke-dasharray: 463.96795654296875px; stroke-dashoffset: -463.96795654296875px;}*/

/*#intelligence * {*/
/*    animation: svg-fill 1000ms ease-out forwards 3200ms;*/
/*    fill-opacity: 0;*/
/*}*/

/*@keyframes svg-grow {*/
/*    to {*/
/*        stroke-dashoffset: 0px;*/
/*    }*/
/*}*/

/*@keyframes svg-grow-ring {*/
/*    to {*/
/*        stroke-dashoffset: 0px;*/
/*    }*/
/*}*/

/*@keyframes svg-grow-text {*/
/*    to { */
/*        stroke-dashoffset: 0;*/
/*        transform: translate(-15%, -15%) scale(1.3, 1.3);*/
/*    }*/
/*}*/

/*@keyframes svg-grow-fill {*/
/*    */
/*    to { */
/*        fill-opacity: 1;*/
/*    }*/
/*}*/

/*@keyframes svg-fill {*/
/*    to { */
/*        fill-opacity: 1;*/
/*    }*/
/*}*/

/*@keyframes backgroundGrow {*/

/*    to {*/
/*        opacity: 1;*/

/*    }*/
/*}*/


/*@media screen and (max-width: 1200px) {*/
/*    #intelligence {*/
/*        transform: translate(-50%, -50%);*/

/*        position: absolute;*/
/*        width: 80vw;*/
/*        left: 50vw;*/
/*        margin: 0;*/
/*    }*/

/*    .s1  .background2 {*/
/*        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 255), rgba(255, 255, 255, 255), rgba(255, 255, 255, 0));*/
/*    }*/
/*}*/

